@using Onatrix.Controllers;
@using Onatrix.umbraco.models;

@model EmailFormViewModel;

@using (Html.BeginUmbracoForm("HandleEmailForm", "EmailForm", FormMethod.Post, new { novalidate = "novalidate", id = "emailForm" }))
{
	<div id="emailForm">
		<div class="input-group relative">
			<label class="sr-only" asp-for="Email"></label>
			<input class="form-input bg-white" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" asp-for="Email" />
			<span asp-validation-for="Email"></span>
		</div>
	</div>

	<div class="flex items-center justify-center">
		@if (TempData["EmailFormError"] != null)
		{
			<h5 class="!text-error italic text-center py-[1rem]">@TempData["EmailFormError"]</h5>
		}
		else
		{
			<h5 class="!text-success italic text-center py-[1rem]">@TempData["EmailFormSuccess"]</h5>
		}
	</div>
}