<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ac611ca-91f8-4ed6-a5f3-b09a17298134" Alias="aj-carter.svg (1)" Level="2">
  <Info>
    <Parent Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3">Employees</Parent>
    <Path>/Employees/ajCartersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:24:12</CreateDate>
    <NodeName Default="aj-carter.svg (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hcwgj4hd/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>