<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c191a0e-6450-4c42-8bb2-bf0542af100d" Alias="Backgrounds (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backgrounds1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:44:24</CreateDate>
    <NodeName Default="Backgrounds (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>