<?xml version="1.0" encoding="utf-8"?>
<Media Key="400e5982-bbd5-4d34-b8b6-2f4e89cedd6d" Alias="Backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:44:14</CreateDate>
    <NodeName Default="Backgrounds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>