<?xml version="1.0" encoding="utf-8"?>
<Media Key="400e5982-bbd5-4d34-b8b6-2f4e89cedd6d" Alias="Backgrounds" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Backgrounds</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:44:14</CreateDate>
    <NodeName Default="Backgrounds" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>