<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3d87e63-a48b-42cd-af1c-f25cadeb2965" Alias="brandon-newton.svg" Level="2">
  <Info>
    <Parent Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3">Employees</Parent>
    <Path>/Employees/brandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:45:31</CreateDate>
    <NodeName Default="brandon-newton.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shbhuamq/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>