<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c97c187-cc30-410f-aa70-1cafd48ded9b" Alias="contact-w-bg" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/contactWBg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:38:21</CreateDate>
    <NodeName Default="contact-w-bg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ov4dldrl/contact-w-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>