<?xml version="1.0" encoding="utf-8"?>
<Media Key="e73ba61d-ce7e-4509-a860-a121b7936ad2" Alias="dot-map-dark-bg.svg" Level="2">
  <Info>
    <Parent Key="0c191a0e-6450-4c42-8bb2-bf0542af100d">Backgrounds</Parent>
    <Path>/Backgrounds/dotMapDarkBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:44:46</CreateDate>
    <NodeName Default="dot-map-dark-bg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/32njsblf/dot-map-dark-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>