<?xml version="1.0" encoding="utf-8"?>
<Media Key="1399209b-90be-4719-ab8a-659ce794d185" Alias="dot-left-down.svg" Level="2">
  <Info>
    <Parent Key="0c191a0e-6450-4c42-8bb2-bf0542af100d">Backgrounds</Parent>
    <Path>/Backgrounds/dotLeftDownsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:44:46</CreateDate>
    <NodeName Default="dot-left-down.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngodx2nf/dot-left-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>