<?xml version="1.0" encoding="utf-8"?>
<Media Key="1453f529-43cb-4bd4-b997-d953404b9657" Alias="dot-right-up.svg" Level="2">
  <Info>
    <Parent Key="0c191a0e-6450-4c42-8bb2-bf0542af100d">Backgrounds (1)</Parent>
    <Path>/Backgrounds1/dotRightUpsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:44:46</CreateDate>
    <NodeName Default="dot-right-up.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1nepd3wq/dot-right-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>