<?xml version="1.0" encoding="utf-8"?>
<Media Key="41e9fc84-c6f2-42b9-8d20-fc8cd7a84fc2" Alias="dot-map.svg" Level="2">
  <Info>
    <Parent Key="0c191a0e-6450-4c42-8bb2-bf0542af100d">Backgrounds (1)</Parent>
    <Path>/Backgrounds1/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:44:46</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ozafxi5j/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>