<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f2e6479-1f54-4df3-badb-5d46bd8df5ed" Alias="dots-behind-trust-us.svg" Level="3">
  <Info>
    <Parent Key="595ef64e-0851-47aa-9530-e001adbfbcf5">new folder name</Parent>
    <Path>/Backgrounds/newFolderName/dotsBehindTrustUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T14:43:00</CreateDate>
    <NodeName Default="dots-behind-trust-us.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rpmjy5kp/dots-behind-trust-us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>