<?xml version="1.0" encoding="utf-8"?>
<Media Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3" Alias="Employees" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Employees</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:45:23</CreateDate>
    <NodeName Default="Employees" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>