<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b578b0a-c6bc-4fbf-9dcd-e79a4efb6c82" Alias="fossil-group.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/fossilGroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:01</CreateDate>
    <NodeName Default="fossil-group.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5a1plonh/fossil-group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>