<?xml version="1.0" encoding="utf-8"?>
<Media Key="c733fdbf-e0ad-4fd0-84f4-dd8a6bcdebfa" Alias="freedombird.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:01</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jvajcjnw/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>