<?xml version="1.0" encoding="utf-8"?>
<Media Key="b280c317-d6c7-4320-b783-2287c8bafdd0" Alias="globe.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:01</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2v5ceug2/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>