<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc5a1f98-21d5-45f7-bf52-e80b070565f9" Alias="hero.svg" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:20</CreateDate>
    <NodeName Default="hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nkrpqlwo/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>