<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef9c160b-96e4-4329-aabb-644bc8e47880" Alias="identity.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:01</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5gvd2dp5/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>