<?xml version="1.0" encoding="utf-8"?>
<Media Key="c893439f-4337-41d9-9761-76162bdc8ed6" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3">Employees</Parent>
    <Path>/Employees/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:45:31</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nx5dckrm/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>