<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1" Alias="let-us-know.svg" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/letUsKnowsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:20</CreateDate>
    <NodeName Default="let-us-know.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k3ehexyc/let-us-know.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>