<?xml version="1.0" encoding="utf-8"?>
<Media Key="51f05f8e-6570-40dd-8539-1dbb94913667" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:45:55</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>