<?xml version="1.0" encoding="utf-8"?>
<Media Key="22e045ad-e42b-41e6-8c3d-93ca7f54825d" Alias="mail-icon-vector.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/mailIconVectorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:02</CreateDate>
    <NodeName Default="mail-icon-vector.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l52efqbq/mail-icon-vector.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>