<?xml version="1.0" encoding="utf-8"?>
<Media Key="39ea931b-9840-4436-8051-9a9b69f619a6" Alias="map.svg" Level="2">
  <Info>
    <Parent Key="0c191a0e-6450-4c42-8bb2-bf0542af100d">Backgrounds (1)</Parent>
    <Path>/Backgrounds1/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:44:46</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3exerw01/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>