<?xml version="1.0" encoding="utf-8"?>
<Media Key="b470f8f9-427c-4284-a374-5807428aebe1" Alias="meeting.svg" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/meetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:21</CreateDate>
    <NodeName Default="meeting.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bncnevth/meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>