<?xml version="1.0" encoding="utf-8"?>
<Media Key="e88fb6a9-3521-47d8-9f1c-f9a9ecb86f4a" Alias="meeting-risk.svg" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/meetingRisksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:20</CreateDate>
    <NodeName Default="meeting-risk.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lmfd0cr0/meeting-risk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>