<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d87237e-e4bb-49b4-9d4c-88821fefc9d2" Alias="miranda-dayton.svg" Level="2">
  <Info>
    <Parent Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3">Employees</Parent>
    <Path>/Employees/mirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:45:31</CreateDate>
    <NodeName Default="miranda-dayton.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rspcld3a/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>