<?xml version="1.0" encoding="utf-8"?>
<Media Key="36aa152d-314f-4fbe-9a63-39ba01112108" Alias="natural.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:02</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/14uarvcu/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>