<?xml version="1.0" encoding="utf-8"?>
<Media Key="db240468-2c01-4f9f-9183-1f52460033cd" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T16:07:38</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>