<?xml version="1.0" encoding="utf-8"?>
<Media Key="f59344b3-d19a-4375-b90f-1b114f104b66" Alias="new folder name" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/newFolderName</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T16:07:43</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>