<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6bab7fa-4365-4421-8fcd-f818abe081c5" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3">Employees</Parent>
    <Path>/Employees/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T10:24:02</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>