<?xml version="1.0" encoding="utf-8"?>
<Media Key="595ef64e-0851-47aa-9530-e001adbfbcf5" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="0c191a0e-6450-4c42-8bb2-bf0542af100d">Backgrounds</Parent>
    <Path>/Backgrounds/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T14:42:42</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>