<?xml version="1.0" encoding="utf-8"?>
<Media Key="f59344b3-d19a-4375-b90f-1b114f104b66" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T16:07:43</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>