<?xml version="1.0" encoding="utf-8"?>
<Media Key="32d3df31-6537-4429-91bf-0293f07b7022" Alias="onatrix.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/onatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:01</CreateDate>
    <NodeName Default="onatrix.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ynrhdubm/onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>