<?xml version="1.0" encoding="utf-8"?>
<Media Key="20317a28-bd58-4fa5-84b5-81af15f56fc3" Alias="pexels-pixabay-261621.jpg" Level="2">
  <Info>
    <Parent Key="1d490c36-e393-4ae6-81cc-4232417c86a9">Services</Parent>
    <Path>/Services/pexelsPixabay261621jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T16:08:20</CreateDate>
    <NodeName Default="pexels-pixabay-261621.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/u4yhpfrr/pexels-pixabay-261621.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>