<?xml version="1.0" encoding="utf-8"?>
<Media Key="64f9fa25-5b42-4230-88fc-2fc79845da4c" Alias="pexels-artempodrez-5716001.jpg" Level="2">
  <Info>
    <Parent Key="3453929c-3bca-4372-b559-5edb28530d95">Photos</Parent>
    <Path>/Photos/pexelsArtempodrez5716001jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T13:07:29</CreateDate>
    <NodeName Default="pexels-artempodrez-5716001.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/viyl5url/pexels-artempodrez-5716001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>