<?xml version="1.0" encoding="utf-8"?>
<Media Key="3453929c-3bca-4372-b559-5edb28530d95" Alias="Photos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:46:14</CreateDate>
    <NodeName Default="Photos" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>