<?xml version="1.0" encoding="utf-8"?>
<Media Key="48e24e40-3369-48e4-ac23-33d33f5ae516" Alias="risk-t.svg" Level="2">
  <Info>
    <Parent Key="d61faaf2-6508-4219-a487-f14d1ce9de45">Thumbnails</Parent>
    <Path>/Thumbnails/riskTsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:55</CreateDate>
    <NodeName Default="risk-t.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wlzfbkts/risk-t.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>