<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b4ccf00-5221-44ab-9dbc-6306e583a019" Alias="risk-management.svg" Level="2">
  <Info>
    <Parent Key="1d490c36-e393-4ae6-81cc-4232417c86a9">Services</Parent>
    <Path>/Services/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:36</CreateDate>
    <NodeName Default="risk-management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4jzo3sj0/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>