<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d490c36-e393-4ae6-81cc-4232417c86a9" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:46:30</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>