<?xml version="1.0" encoding="utf-8"?>
<Media Key="c50bed7c-9655-4ca4-9463-4aba287cefb1" Alias="simpleaf.svg" Level="2">
  <Info>
    <Parent Key="51f05f8e-6570-40dd-8539-1dbb94913667">Logos</Parent>
    <Path>/Logos/simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:46:01</CreateDate>
    <NodeName Default="simpleaf.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rziksj0o/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>