<?xml version="1.0" encoding="utf-8"?>
<Media Key="d61faaf2-6508-4219-a487-f14d1ce9de45" Alias="Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Thumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T08:46:48</CreateDate>
    <NodeName Default="Thumbnails" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>