<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5836c60-0063-4c09-8607-943a249f11b8" Alias="tina-fox.svg" Level="2">
  <Info>
    <Parent Key="906594ef-dc01-4c3d-ba7e-2c5ab3e241b3">Employees</Parent>
    <Path>/Employees/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T08:45:31</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/slidcn1y/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>