@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var rootContent = Umbraco.ContentAtRoot();
	var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
}

<div class="!bg-footer">
	<div class="container content flex items-center justify-center p-4">
		<p class="!text-xs md:text-base">© @siteSettings?.SiteName @DateTime.Now.Year. @siteSettings?.FooterText Credits to <a href="@siteSettings?.FooterCreditUrl" target="_blank"><span class="text-tertiary">@siteSettings?.FooterCreditName</span></a> </p>
	</div>
</div>

