<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6459361-e6b4-4a82-a998-b3cdaeec4946" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8f42bf05-e62d-4a13-a034-f13116557a6e">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d0d04403-d989-49ba-96bc-a06d426f2b69">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ab9bd874-f42f-4243-8044-9deb794cd2ac</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>af33f33a-b905-4824-bbf2-90b91211eb6a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/sections">Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0ab412bc-7bb4-4950-8666-9b487c40f382</Key>
      <Caption>Sections</Caption>
      <Alias>content/sections</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>cb8d626f-3387-4dc4-a533-816898b8d6e6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>