<?xml version="1.0" encoding="utf-8"?>
<Content Key="52f528f2-893a-4ec1-bea4-c2a866dc8e20" Alias="2025-11-12 14:53 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="d5336184-7879-4391-ab8e-1c97370649f3">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T14:53:49</CreateDate>
    <NodeName Default="2025-11-12 14:53 - Jasmin de Freitas" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Business planning]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>