<?xml version="1.0" encoding="utf-8"?>
<Content Key="16403220-75b2-426b-9950-db89f1dd69b4" Alias="2025-11-12 15:05 - jasmindefreitas@hotmail.com" Level="2">
  <Info>
    <Parent Key="eadd3134-bfd3-4bb0-ba8f-b4c1774489f6">Email Submissions</Parent>
    <Path>/EmailSubmissions/jasmindefreitasHotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailForm</ContentType>
    <CreateDate>2025-11-12T15:05:17</CreateDate>
    <NodeName Default="2025-11-12 15:05 - jasmindefreitas@hotmail.com" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </emailFormEmail>
  </Properties>
</Content>