<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5a86eec-08c6-4355-b3c8-e7919f607de8" Alias="2025-11-12 14:50 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="d5336184-7879-4391-ab8e-1c97370649f3">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T14:50:51</CreateDate>
    <NodeName Default="2025-11-12 14:50 - Jasmin de Freitas" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Tax Advice ]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>