<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1de09f5-545f-455b-a145-b2c8669a69ba" Alias="2025-10-31 13:43 - Jasmin de Freitas" Level="102">
  <Info>
    <Parent Key="a268e234-629f-4ebc-b291-26b15f98e030">Form Submissions </Parent>
    <Path>/[-20]/FormSubmissions/JasminDeFreitas</Path>
    <Trashed Parent="a268e234-629f-4ebc-b291-26b15f98e030">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:43:09</CreateDate>
    <NodeName Default="2025-10-31 13:43 - Jasmin de Freitas" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>