<?xml version="1.0" encoding="utf-8"?>
<Content Key="72e1120a-10a4-4606-9af3-f7ce08fe2f64" Alias="2025-11-13 09:10 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="9f63f62e-296c-4d8d-b614-eee8bedd698f">Question Submissions</Parent>
    <Path>/QuestionSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-13T09:10:17</CreateDate>
    <NodeName Default="2025-11-13 09:10 - Jasmin de Freitas" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </questionFormEmail>
    <questionFormName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </questionFormName>
    <questionFormOriginPageTitle>
      <Value><![CDATA[Wills and Prenups]]></Value>
    </questionFormOriginPageTitle>
    <questionFormOriginPageUrl>
      <Value><![CDATA[/services/wills-and-prenups/]]></Value>
    </questionFormOriginPageUrl>
    <questionFormQuestion>
      <Value><![CDATA[TEsting testing test]]></Value>
    </questionFormQuestion>
  </Properties>
</Content>