<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bd372ed-9312-4ab8-b56d-5199aba27cd9" Alias="2025-10-31 13:41 - Jasmin de Freitas (1)" Level="2">
  <Info>
    <Parent Key="a268e234-629f-4ebc-b291-26b15f98e030">Form Submissions </Parent>
    <Path>/FormSubmissions/JasminDeFreitas1</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:41:45</CreateDate>
    <NodeName Default="2025-10-31 13:41 - Jasmin de Freitas (1)" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Risk Managing]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>