<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f18ee29-3d48-4da1-8cc2-a2a951f5102c" Alias="2025-11-06 15:57 - jasmindefreitas@hotmail.com" Level="102">
  <Info>
    <Parent Key="a268e234-629f-4ebc-b291-26b15f98e030">Form Submissions </Parent>
    <Path>/[-20]/FormSubmissions/jasmindefreitasHotmailcom</Path>
    <Trashed Parent="a268e234-629f-4ebc-b291-26b15f98e030">true</Trashed>
    <ContentType>emailForm</ContentType>
    <CreateDate>2025-11-06T15:57:01</CreateDate>
    <NodeName Default="2025-11-06 15:57 - jasmindefreitas@hotmail.com" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </emailFormEmail>
  </Properties>
</Content>