<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff84f943-f9e3-408b-a9b6-d6e9b82d39ba" Alias="2025-11-06 16:38 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="d5336184-7879-4391-ab8e-1c97370649f3">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T16:38:16</CreateDate>
    <NodeName Default="2025-11-06 16:38 - Jasmin de Freitas" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Business planning]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>