<?xml version="1.0" encoding="utf-8"?>
<Content Key="5172daff-2533-47bb-902d-973dc641490f" Alias="2025-11-06 16:39 - jasmindefreitas@hotmail.com" Level="2">
  <Info>
    <Parent Key="eadd3134-bfd3-4bb0-ba8f-b4c1774489f6">Email Submissions</Parent>
    <Path>/EmailSubmissions/jasmindefreitasHotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailForm</ContentType>
    <CreateDate>2025-11-06T16:39:40</CreateDate>
    <NodeName Default="2025-11-06 16:39 - jasmindefreitas@hotmail.com" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </emailFormEmail>
  </Properties>
</Content>