<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fbca2da-5e07-4cab-9d45-af58b055d2ac" Alias="2025-11-10 10:34 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="9f63f62e-296c-4d8d-b614-eee8bedd698f">Question Submissions</Parent>
    <Path>/QuestionSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-10T10:34:24</CreateDate>
    <NodeName Default="2025-11-10 10:34 - Jasmin de Freitas" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </questionFormEmail>
    <questionFormName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </questionFormName>
    <questionFormOriginPageTitle>
      <Value><![CDATA[Wills and Prenups]]></Value>
    </questionFormOriginPageTitle>
    <questionFormOriginPageUrl>
      <Value><![CDATA[/services/wills-and-prenups/]]></Value>
    </questionFormOriginPageUrl>
    <questionFormQuestion>
      <Value><![CDATA[Can you help with a prenupt?]]></Value>
    </questionFormQuestion>
  </Properties>
</Content>