<?xml version="1.0" encoding="utf-8"?>
<Content Key="02779288-2131-4155-8620-d039c7cd127c" Alias="2025-10-31 13:25 - Jasmin de Freitas (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JasminDeFreitas1</Path>
    <Trashed Parent="a268e234-629f-4ebc-b291-26b15f98e030">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:25:20</CreateDate>
    <NodeName Default="2025-10-31 13:25 - Jasmin de Freitas (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Risk Managing]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>