<?xml version="1.0" encoding="utf-8"?>
<Content Key="50384ebb-c0cc-4598-af23-baf19d1f9cdd" Alias="2025-11-12 14:56 - Jasmin" Level="2">
  <Info>
    <Parent Key="9f63f62e-296c-4d8d-b614-eee8bedd698f">Question Submissions</Parent>
    <Path>/QuestionSubmissions/Jasmin</Path>
    <Trashed>false</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-12T14:56:03</CreateDate>
    <NodeName Default="2025-11-12 14:56 - Jasmin" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </questionFormEmail>
    <questionFormName>
      <Value><![CDATA[Jasmin]]></Value>
    </questionFormName>
    <questionFormOriginPageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </questionFormOriginPageTitle>
    <questionFormOriginPageUrl>
      <Value><![CDATA[/services/risk-management/]]></Value>
    </questionFormOriginPageUrl>
    <questionFormQuestion>
      <Value><![CDATA[Hello how can i manage my risks??]]></Value>
    </questionFormQuestion>
  </Properties>
</Content>