<?xml version="1.0" encoding="utf-8"?>
<Content Key="6275ac61-6fa7-4c30-9b81-c2b3c5e345e4" Alias="2025-11-13 08:58 - jasmindefreitas@hotmail.com" Level="2">
  <Info>
    <Parent Key="eadd3134-bfd3-4bb0-ba8f-b4c1774489f6">Email Submissions</Parent>
    <Path>/EmailSubmissions/jasmindefreitasHotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailForm</ContentType>
    <CreateDate>2025-11-13T08:58:16</CreateDate>
    <NodeName Default="2025-11-13 08:58 - jasmindefreitas@hotmail.com" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </emailFormEmail>
  </Properties>
</Content>