<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2813478-393d-4e97-9f15-fd633728a9a7" Alias="2025-11-05 10:57 - Jasmin de Freitas" Level="102">
  <Info>
    <Parent Key="a268e234-629f-4ebc-b291-26b15f98e030">Form Submissions </Parent>
    <Path>/[-20]/FormSubmissions/JasminDeFreitas</Path>
    <Trashed Parent="a268e234-629f-4ebc-b291-26b15f98e030">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T10:57:03</CreateDate>
    <NodeName Default="2025-11-05 10:57 - Jasmin de Freitas" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Wills and prenuptial agreements]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>