<?xml version="1.0" encoding="utf-8"?>
<Content Key="40c15eea-880d-404f-931c-06d3ade9adaf" Alias="2025-11-06 16:14 - Jasmin de Freitas" Level="102">
  <Info>
    <Parent Key="a268e234-629f-4ebc-b291-26b15f98e030">Form Submissions </Parent>
    <Path>/[-20]/FormSubmissions/JasminDeFreitas</Path>
    <Trashed Parent="a268e234-629f-4ebc-b291-26b15f98e030">true</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-06T16:14:39</CreateDate>
    <NodeName Default="2025-11-06 16:14 - Jasmin de Freitas" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </questionFormEmail>
    <questionFormName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </questionFormName>
    <questionFormOriginPageTitle>
      <Value><![CDATA[Wills and Prenups]]></Value>
    </questionFormOriginPageTitle>
    <questionFormOriginPageUrl>
      <Value><![CDATA[/services/wills-and-prenups/]]></Value>
    </questionFormOriginPageUrl>
    <questionFormQuestion>
      <Value><![CDATA[We want prenup! We want prenup!]]></Value>
    </questionFormQuestion>
  </Properties>
</Content>