<?xml version="1.0" encoding="utf-8"?>
<Content Key="a10b3fc8-589a-4eb9-ade1-0971be2855c2" Alias="2025-10-31 13:40 - Jasmin de Freitas" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JasminDeFreitas</Path>
    <Trashed Parent="a268e234-629f-4ebc-b291-26b15f98e030">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:40:20</CreateDate>
    <NodeName Default="2025-10-31 13:40 - Jasmin de Freitas" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Statistical Advising]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>