<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ce3140b-fa97-4f0a-a578-deb9f3f7c9a2" Alias="2025-11-13 08:45 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="d5336184-7879-4391-ab8e-1c97370649f3">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T08:45:18</CreateDate>
    <NodeName Default="2025-11-13 08:45 - Jasmin de Freitas" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Statistical Advice]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>