<?xml version="1.0" encoding="utf-8"?>
<Content Key="a68263c8-0f4d-45eb-b96d-682f21f65bb9" Alias="2025-10-31 13:45 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="a268e234-629f-4ebc-b291-26b15f98e030">Form Submissions </Parent>
    <Path>/FormSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:45:03</CreateDate>
    <NodeName Default="2025-10-31 13:45 - Jasmin de Freitas" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Risk Managing]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>