<?xml version="1.0" encoding="utf-8"?>
<Content Key="354e7245-1b38-416c-bbc0-9356c3f2adbe" Alias="2025-11-13 08:32 - jasmindefreitas@hotmail.com" Level="2">
  <Info>
    <Parent Key="eadd3134-bfd3-4bb0-ba8f-b4c1774489f6">Email Submissions</Parent>
    <Path>/EmailSubmissions/jasmindefreitasHotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailForm</ContentType>
    <CreateDate>2025-11-13T08:32:18</CreateDate>
    <NodeName Default="2025-11-13 08:32 - jasmindefreitas@hotmail.com" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailFormEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </emailFormEmail>
  </Properties>
</Content>