<?xml version="1.0" encoding="utf-8"?>
<Content Key="53d69f0c-c410-4bb4-b22d-8b0d95aa243d" Alias="2025-11-13 08:49 - Jasmin de Freitas" Level="2">
  <Info>
    <Parent Key="d5336184-7879-4391-ab8e-1c97370649f3">Callback Submissions</Parent>
    <Path>/CallbackSubmissions/JasminDeFreitas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T08:49:09</CreateDate>
    <NodeName Default="2025-11-13 08:49 - Jasmin de Freitas" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jasmindefreitas@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jasmin de Freitas]]></Value>
    </callbackRequestName>
    <callbackRequestPhone>
      <Value><![CDATA[0761613824]]></Value>
    </callbackRequestPhone>
    <callbackRequestSelectedService>
      <Value><![CDATA[Auditing]]></Value>
    </callbackRequestSelectedService>
  </Properties>
</Content>