<?xml version="1.0" encoding="utf-8"?>
<Content Key="5247ef19-dfed-4464-9409-d6309ab9cbbe" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d3c7a744-c445-4e9d-8d69-3442345311d9">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T12:00:10</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0d04403-d989-49ba-96bc-a06d426f2b69">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "key": "8d4c64b1-6d94-4967-a0be-a260c0ab7064",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38fa5cb9-19bb-47ca-ba6e-a5857554d8a4",
              "mediaKey": "bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "832f0fe1-9b44-4f8a-8aee-d06090f2d94a",
              "mediaKey": "c112e113-79d0-4d29-8c9b-0d687673ab44",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactSectionStreetAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactSectionPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactSectionEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    },
    {
      "contentTypeKey": "5c416f28-149c-4243-b2ce-8ab4961c386f",
      "key": "4ab08260-26b5-45ea-be43-edaa8769fd29",
      "udi": null,
      "values": [
        {
          "alias": "contactMapBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "efb26a22-4ada-4f54-9b51-6ce3f4bd535d",
              "mediaKey": "39ea931b-9840-4436-8051-9a9b69f619a6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e",
      "key": "2839cec8-4f99-46b9-82ab-c6cad6e5d93f",
      "udi": null,
      "values": [
        {
          "alias": "showContactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8d4c64b1-6d94-4967-a0be-a260c0ab7064",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4ab08260-26b5-45ea-be43-edaa8769fd29",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8d4c64b1-6d94-4967-a0be-a260c0ab7064",
        "contentUdi": null,
        "settingsKey": "2839cec8-4f99-46b9-82ab-c6cad6e5d93f",
        "settingsUdi": null
      },
      {
        "contentKey": "4ab08260-26b5-45ea-be43-edaa8769fd29",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>