<?xml version="1.0" encoding="utf-8"?>
<Content Key="5247ef19-dfed-4464-9409-d6309ab9cbbe" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d3c7a744-c445-4e9d-8d69-3442345311d9">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T12:00:10</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0d04403-d989-49ba-96bc-a06d426f2b69">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "key": "8d4c64b1-6d94-4967-a0be-a260c0ab7064",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38fa5cb9-19bb-47ca-ba6e-a5857554d8a4",
              "mediaKey": "bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "832f0fe1-9b44-4f8a-8aee-d06090f2d94a",
              "mediaKey": "c112e113-79d0-4d29-8c9b-0d687673ab44",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "5c416f28-149c-4243-b2ce-8ab4961c386f",
      "key": "4ab08260-26b5-45ea-be43-edaa8769fd29",
      "udi": null,
      "values": [
        {
          "alias": "contactMapBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "efb26a22-4ada-4f54-9b51-6ce3f4bd535d",
              "mediaKey": "39ea931b-9840-4436-8051-9a9b69f619a6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactMapFormLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactMapFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactMapFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    },
    {
      "contentTypeKey": "cfeba6f4-34ea-4025-8766-502e2c168d6d",
      "key": "d7abfd91-e5c2-4733-a521-a3b7bb69a438",
      "udi": null,
      "values": [
        {
          "alias": "logos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
                "key": "3efa7e28-2e5b-4b46-9aae-be620e7b24e8",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1a2e4502-6128-4a2a-8ab6-e636dd2bdde2",
                        "mediaKey": "c733fdbf-e0ad-4fd0-84f4-dd8a6bcdebfa",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoCompanyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedom Bird"
                  },
                  {
                    "alias": "logoCompanyUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Freedom Bird",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://sharp-hug.name/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
                "key": "75c6edd1-599d-450a-bd98-4beedacc29f0",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "eae245ef-fcc4-4ee1-8655-eb3ae22d1830",
                        "mediaKey": "ef9c160b-96e4-4329-aabb-644bc8e47880",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoCompanyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity Inc"
                  },
                  {
                    "alias": "logoCompanyUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Identity Inc",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://secret-divide.org/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
                "key": "49b67a5d-5081-42df-9f17-9ff41cec2843",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "77d8c769-36dd-4952-b805-60f0eb103bcc",
                        "mediaKey": "36aa152d-314f-4fbe-9a63-39ba01112108",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoCompanyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "logoCompanyUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Natural",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://spirited-spirit.name/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
                "key": "70bee6f4-34ef-4747-8b67-94bf86742894",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4db24161-25b0-437e-94d7-48ac04264879",
                        "mediaKey": "c50bed7c-9655-4ca4-9463-4aba287cefb1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoCompanyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simple AF"
                  },
                  {
                    "alias": "logoCompanyUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Simple AF",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://ringed-certainty.biz/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
                "key": "3b2ac300-394c-4c2d-8f0f-2847890806d2",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b20eac28-9eae-455b-9ee7-2c7cfdcc6da1",
                        "mediaKey": "b280c317-d6c7-4320-b783-2287c8bafdd0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoCompanyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "logoCompanyUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Globe",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://attached-standardization.net/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
                "key": "b02158f6-88b2-43c2-ad2b-79e7b57806b4",
                "udi": null,
                "values": [
                  {
                    "alias": "logoImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3dabea37-34c4-4cc0-a30c-314d0e630891",
                        "mediaKey": "5b578b0a-c6bc-4fbf-9dcd-e79a4efb6c82",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "logoCompanyName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Group"
                  },
                  {
                    "alias": "logoCompanyUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Fossil Group",
                        "target": "_blank",
                        "udi": null,
                        "url": "https://impractical-conviction.biz/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "3efa7e28-2e5b-4b46-9aae-be620e7b24e8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "75c6edd1-599d-450a-bd98-4beedacc29f0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "49b67a5d-5081-42df-9f17-9ff41cec2843",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "70bee6f4-34ef-4747-8b67-94bf86742894",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3b2ac300-394c-4c2d-8f0f-2847890806d2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b02158f6-88b2-43c2-ad2b-79e7b57806b4",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "3efa7e28-2e5b-4b46-9aae-be620e7b24e8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "75c6edd1-599d-450a-bd98-4beedacc29f0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "49b67a5d-5081-42df-9f17-9ff41cec2843",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "70bee6f4-34ef-4747-8b67-94bf86742894",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3b2ac300-394c-4c2d-8f0f-2847890806d2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b02158f6-88b2-43c2-ad2b-79e7b57806b4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e",
      "key": "2839cec8-4f99-46b9-82ab-c6cad6e5d93f",
      "udi": null,
      "values": [
        {
          "alias": "showContactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8d4c64b1-6d94-4967-a0be-a260c0ab7064",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4ab08260-26b5-45ea-be43-edaa8769fd29",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7abfd91-e5c2-4733-a521-a3b7bb69a438",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8d4c64b1-6d94-4967-a0be-a260c0ab7064",
        "contentUdi": null,
        "settingsKey": "2839cec8-4f99-46b9-82ab-c6cad6e5d93f",
        "settingsUdi": null
      },
      {
        "contentKey": "4ab08260-26b5-45ea-be43-edaa8769fd29",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d7abfd91-e5c2-4733-a521-a3b7bb69a438",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>