<?xml version="1.0" encoding="utf-8"?>
<Content Key="504e42ac-cb8a-49ef-9c7c-41db62a2f7f3" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T08:17:37</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "ec95a102-ff00-4e76-bb8c-51a64383d40c",
    "mediaKey": "ba4e7127-d6b8-4d9c-b00b-1273f341e208",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>