<?xml version="1.0" encoding="utf-8"?>
<Content Key="504e42ac-cb8a-49ef-9c7c-41db62a2f7f3" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T08:17:37</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "57342a90-d6d7-4444-a55b-53356df88a05",
      "key": "f9b5bcc9-b79c-4f65-967f-e336d15dd2ce",
      "udi": null,
      "values": [
        {
          "alias": "serviceFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question?"
        }
      ]
    },
    {
      "contentTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "key": "11658110-cb11-4994-8dfa-52d1d3e2601d",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a7e4bdd7-567c-4530-a246-23375170dde7",
              "mediaKey": "bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6bea2d96-2c59-4d18-afe2-83831a25e2d6",
              "mediaKey": "c112e113-79d0-4d29-8c9b-0d687673ab44",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        },
        {
          "alias": "contactSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e",
      "key": "01c0c288-ae28-47f1-bde0-0caf8c89567d",
      "udi": null,
      "values": [
        {
          "alias": "showContactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f9b5bcc9-b79c-4f65-967f-e336d15dd2ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11658110-cb11-4994-8dfa-52d1d3e2601d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f9b5bcc9-b79c-4f65-967f-e336d15dd2ce",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "11658110-cb11-4994-8dfa-52d1d3e2601d",
        "contentUdi": null,
        "settingsKey": "01c0c288-ae28-47f1-bde0-0caf8c89567d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b73ea4a4-c37c-4761-9133-d68a65b9b845",
      "key": "ea14b287-009b-40c1-a7b9-24df618c3aeb",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a1818315-f511-458d-ad5d-9f42621d1418",
              "mediaKey": "7d263e75-9f6b-4f7f-afbc-1293b23021bd",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ea14b287-009b-40c1-a7b9-24df618c3aeb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ea14b287-009b-40c1-a7b9-24df618c3aeb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "ec95a102-ff00-4e76-bb8c-51a64383d40c",
    "mediaKey": "ba4e7127-d6b8-4d9c-b00b-1273f341e208",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>