<?xml version="1.0" encoding="utf-8"?>
<Content Key="504e42ac-cb8a-49ef-9c7c-41db62a2f7f3" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T08:17:37</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b73ea4a4-c37c-4761-9133-d68a65b9b845",
      "key": "ea14b287-009b-40c1-a7b9-24df618c3aeb",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a1818315-f511-458d-ad5d-9f42621d1418",
              "mediaKey": "7d263e75-9f6b-4f7f-afbc-1293b23021bd",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ea14b287-009b-40c1-a7b9-24df618c3aeb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ea14b287-009b-40c1-a7b9-24df618c3aeb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "ec95a102-ff00-4e76-bb8c-51a64383d40c",
    "mediaKey": "ba4e7127-d6b8-4d9c-b00b-1273f341e208",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>