<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3c7a744-c445-4e9d-8d69-3442345311d9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-22T08:47:35</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e4779f8-b5d7-4727-9619-37332ebfb5b6">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "57d632c7-da33-4d61-8548-d72b1583c0a4",
      "key": "6d292382-0715-4674-ab51-2dca0441137e",
      "udi": null,
      "values": [
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c944cf28-ef78-496d-a960-2abd9083d408",
              "mediaKey": "cc5a1f98-21d5-45f7-bf52-e80b070565f9",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/5247ef19dfed44649409d6309ab9cbbe",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cae8124c-0cca-470c-9d06-342aafd618e4",
      "key": "55ea8ec7-c5cb-4e35-a9ae-3ed0ce00a0c9",
      "udi": null,
      "values": [
        {
          "alias": "callbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "callbackHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience "
        },
        {
          "alias": "callbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cem\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022t-fox-sign.svg\u0022 width=\u0022161\u0022 height=\u002276\u0022 data-udi=\u0022umb://media/073e7bf7702e45278abed1dea6528372\u0022\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETina Fox - CEO \u0026amp; Founder\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c686d86c-3256-486c-8c0d-c776e7160e53",
      "key": "cb2ddbbf-24bd-4ece-9607-aa076834c6f9",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003C/p\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9bed4044-9731-4d8b-9969-3e0f0924127c",
      "key": "7b22d2a6-9401-4344-bb7d-1e29a337a0d1",
      "udi": null,
      "values": [
        {
          "alias": "trustUsHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than 4.000\u002B clients"
        },
        {
          "alias": "trustUsText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "trustUsLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/218e764f3eec4adba7b863ba61f40e5c",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "trustUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f59e8749-620f-446c-8f89-bc64ba6a8f43",
              "mediaKey": "10368df4-1667-40a0-adc5-e2bbb660b92b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0e7f75da-9a28-46fe-af2d-895db5114672",
      "key": "5687ed27-12a2-4423-8e92-5960f160e20e",
      "udi": null,
      "values": [
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success stories"
        },
        {
          "alias": "successStoryHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Story"
        },
        {
          "alias": "successStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c72eef98-96fc-45a3-acf5-6112b2e4ae03",
              "mediaKey": "b470f8f9-427c-4284-a374-5807428aebe1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "30393699-d561-4a0c-9937-9559bc9bb5fc",
      "key": "6495ca3e-c523-4b93-a169-7d4a810f7649",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6d292382-0715-4674-ab51-2dca0441137e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55ea8ec7-c5cb-4e35-a9ae-3ed0ce00a0c9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb2ddbbf-24bd-4ece-9607-aa076834c6f9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7b22d2a6-9401-4344-bb7d-1e29a337a0d1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5687ed27-12a2-4423-8e92-5960f160e20e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6d292382-0715-4674-ab51-2dca0441137e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "55ea8ec7-c5cb-4e35-a9ae-3ed0ce00a0c9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cb2ddbbf-24bd-4ece-9607-aa076834c6f9",
        "contentUdi": null,
        "settingsKey": "6495ca3e-c523-4b93-a169-7d4a810f7649",
        "settingsUdi": null
      },
      {
        "contentKey": "7b22d2a6-9401-4344-bb7d-1e29a337a0d1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5687ed27-12a2-4423-8e92-5960f160e20e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>