<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f63f62e-296c-4d8d-b614-eee8bedd698f" Alias="Question Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2025-11-06T16:26:45</CreateDate>
    <NodeName Default="Question Submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>