<?xml version="1.0" encoding="utf-8"?>
<Content Key="685e6466-7b2f-4075-99ea-8330727a8104" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T08:18:58</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bb7cee4d-d4c3-4449-9bc4-694a8dfc0a41",
    "mediaKey": "48e24e40-3369-48e4-ac23-33d33f5ae516",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>