<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289" Alias="Services" Level="2">
  <Info>
    <Parent Key="d3c7a744-c445-4e9d-8d69-3442345311d9">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-10-24T16:12:50</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ac98b7d-b792-41b4-9088-7fd9607c89f3">ServicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c686d86c-3256-486c-8c0d-c776e7160e53",
      "key": "f3739fa9-e3b2-405d-bf41-4b5a9de8edfb",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services "
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "key": "5bfd908f-fe7e-4f19-8dba-785afdad417e",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2103d04a-6ef1-44ac-be3e-74a0ebac4904",
              "mediaKey": "bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8d9827c2-5b41-495b-97b8-5240e924a8ea",
              "mediaKey": "c112e113-79d0-4d29-8c9b-0d687673ab44",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "30393699-d561-4a0c-9937-9559bc9bb5fc",
      "key": "97d69c48-32f6-4e9a-8bc2-9dad5f8d76cd",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e",
      "key": "4ac46233-eedc-499e-80a9-2bb1623d7500",
      "udi": null,
      "values": [
        {
          "alias": "showContactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f3739fa9-e3b2-405d-bf41-4b5a9de8edfb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5bfd908f-fe7e-4f19-8dba-785afdad417e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f3739fa9-e3b2-405d-bf41-4b5a9de8edfb",
        "contentUdi": null,
        "settingsKey": "97d69c48-32f6-4e9a-8bc2-9dad5f8d76cd",
        "settingsUdi": null
      },
      {
        "contentKey": "5bfd908f-fe7e-4f19-8dba-785afdad417e",
        "contentUdi": null,
        "settingsKey": "4ac46233-eedc-499e-80a9-2bb1623d7500",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>