<?xml version="1.0" encoding="utf-8"?>
<Content Key="8de23063-8085-402f-9d15-c244c568ac9e" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T10:51:59</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerCreditName>
      <Value><![CDATA[Themesflat]]></Value>
    </footerCreditName>
    <footerCreditUrl>
      <Value><![CDATA[[
  {
    "name": "Themesflat",
    "target": "_blank",
    "udi": null,
    "url": "https://wordpress.org/plugins/themesflat-addons-for-elementor/",
    "queryString": null
  }
]]]></Value>
    </footerCreditUrl>
    <footerText>
      <Value><![CDATA[All Rights Reserved.]]></Value>
    </footerText>
    <footerYear>
      <Value><![CDATA[]]></Value>
    </footerYear>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "9f7466a6-ecf2-4cbc-a205-dae5be1c47d7",
    "mediaKey": "32d3df31-6537-4429-91bf-0293f07b7022",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "00f3180f-f430-4f26-9542-39860e0b5da2",
      "key": "e53749a9-f342-4e63-845d-0f5ba8234caa",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaPlatform",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "socialMediaAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "00f3180f-f430-4f26-9542-39860e0b5da2",
      "key": "2c191047-f1cd-41e8-bd4b-b94e25b0d31c",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        },
        {
          "alias": "socialMediaPlatform",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "00f3180f-f430-4f26-9542-39860e0b5da2",
      "key": "026ac853-c17e-4d46-8240-637216f5971f",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaPlatform",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "socialMediaAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e53749a9-f342-4e63-845d-0f5ba8234caa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2c191047-f1cd-41e8-bd4b-b94e25b0d31c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "026ac853-c17e-4d46-8240-637216f5971f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e53749a9-f342-4e63-845d-0f5ba8234caa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2c191047-f1cd-41e8-bd4b-b94e25b0d31c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "026ac853-c17e-4d46-8240-637216f5971f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
  </Properties>
</Content>