<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dafd01c-df80-482b-bdbc-86a2e01a724a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T08:17:18</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "key": "e73e285a-02f7-4af5-96dd-6ee738b78095",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d8667aae-72b7-41fb-9d02-466421ca4cdd",
              "mediaKey": "bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cdedaa0d-d697-4784-8d7e-e6c34034a4a8",
              "mediaKey": "c112e113-79d0-4d29-8c9b-0d687673ab44",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        },
        {
          "alias": "contactSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "57342a90-d6d7-4444-a55b-53356df88a05",
      "key": "e6bb301b-96b7-498d-a28a-7d75e890d90c",
      "udi": null,
      "values": [
        {
          "alias": "serviceFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question?"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e",
      "key": "da8bfd95-8f60-4fa8-a82a-74327e68188b",
      "udi": null,
      "values": [
        {
          "alias": "showContactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light gray",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e73e285a-02f7-4af5-96dd-6ee738b78095",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e6bb301b-96b7-498d-a28a-7d75e890d90c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e6bb301b-96b7-498d-a28a-7d75e890d90c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e73e285a-02f7-4af5-96dd-6ee738b78095",
        "contentUdi": null,
        "settingsKey": "da8bfd95-8f60-4fa8-a82a-74327e68188b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b73ea4a4-c37c-4761-9133-d68a65b9b845",
      "key": "0eb4c885-a4ff-401c-9dfb-993e2da9872a",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2f4deb89-1ae6-4507-8b99-3d82f6eefcc2",
              "mediaKey": "7d263e75-9f6b-4f7f-afbc-1293b23021bd",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0eb4c885-a4ff-401c-9dfb-993e2da9872a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0eb4c885-a4ff-401c-9dfb-993e2da9872a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "6c665c16-59af-4950-9523-2d231fadeedb",
    "mediaKey": "398ea647-fd1a-4e05-a112-e7c408c18d00",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>