<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dafd01c-df80-482b-bdbc-86a2e01a724a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T08:17:18</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "6c665c16-59af-4950-9523-2d231fadeedb",
    "mediaKey": "398ea647-fd1a-4e05-a112-e7c408c18d00",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>