<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bed7b49-7c0b-41be-8801-6e89112c05ac" Alias="Wills and Prenups" Level="3">
  <Info>
    <Parent Key="ddbc55a1-6a3e-470a-bbf1-4e90b273a289">Services</Parent>
    <Path>/Home/Services/WillsAndPrenups</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T16:09:01</CreateDate>
    <NodeName Default="Wills and Prenups" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe67a88-c951-4343-9ccb-7eb2ea026ee1">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Wills and Prenups]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "key": "3c48dbd0-12fd-49a3-8b54-4d2e2fb62e0c",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ef25305a-2df2-4898-8515-10ae8daa4439",
              "mediaKey": "bdd0f5a5-ba19-4645-ac59-1ff0a3090ef1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "de86a9bf-2264-4061-a9e6-0d87c772007e",
              "mediaKey": "c112e113-79d0-4d29-8c9b-0d687673ab44",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact us"
        },
        {
          "alias": "contactSectionHeadline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "57342a90-d6d7-4444-a55b-53356df88a05",
      "key": "3c302923-ab42-4046-8664-176199c666c0",
      "udi": null,
      "values": [
        {
          "alias": "serviceFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question?"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e",
      "key": "4075484d-bfa1-4d0b-91b2-d4f117f60b97",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light gray",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showContactLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3c48dbd0-12fd-49a3-8b54-4d2e2fb62e0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c302923-ab42-4046-8664-176199c666c0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3c302923-ab42-4046-8664-176199c666c0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3c48dbd0-12fd-49a3-8b54-4d2e2fb62e0c",
        "contentUdi": null,
        "settingsKey": "4075484d-bfa1-4d0b-91b2-d4f117f60b97",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "df7378b2-ffc8-4001-823e-2f2cc04070c8",
    "mediaKey": "20317a28-bd58-4fa5-84b5-81af15f56fc3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>