@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ReviewSection)Model.Content;
}

<section class="relative py-[7rem]">
	<div class="container content relative z-10 flex flex-col">
		<div class="w-6/12 flex gap-8">
			<p class="label">@content.ReviewLabel</p>
			<h2>@content.ReviewHeadline</h2>
			<div>@Html.Raw(content.ReviewContent)</div>
		</div>
		<div class="flex">
			<img src="@content.ReviewImage?.Url()" />
		</div>
	</div>
</section>