@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessStorySection)Model.Content;
}

<section class="relative py-[7rem] bg-primary">
	<div class="container content relative z-10 bg-center bg-[url('/Images/Backgrounds/dot-map-dark-bg.svg')]">
		<div class="w-6/12 flex flex-col gap-8">
			<p class="label">@content.SuccessStoryLabel</p>
			<h2>@content.SuccessStoryHeadline</h2>
			<div class="flex gap-4 justify-between">
				<h2 class="success-number">100</h2>
				<h2 class="success-number">200</h2>
				<h2 class="success-number">300</h2>
			</div>
			<div>
				<img src="@content.SuccessStoryImage?.Url()"/>
			</div>
		</div>
	</div>
</section>