@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}

<div class="flex flex-col h-full border border-border">
    @if (content.TeamMemberImage != null)
    {
        <img class="w-full object-cover" src="@content.TeamMemberImage?.Url()" alt="@content.TeamMemberName" />
    }
    <div class="p-4">
        <h4 class="font-semibold text-text">@content.TeamMemberName</h4>
        <p class="text-note">@content.TeamMemberRole</p>
    </div>
</div>