<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c84e430f-6c77-4982-ba83-c8dbce25ad91" Alias="Employees Section - Employee List" Level="1">
  <Info>
    <Name>Employees Section - Employee List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "79028efd-0906-4a6a-a8de-ff93043e43cb",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>