<?xml version="1.0" encoding="utf-8"?>
<DataType Key="594d2657-6df2-415b-9fa9-02b805a464da" Alias="Home Page - Content Picker" Level="1">
  <Info>
    <Name>Home Page - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>