<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0932f7b-c084-4ae5-a4cf-fe76332aa7f4" Alias="Logo List" Level="1">
  <Info>
    <Name>Logo List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2d20479f-4b20-4942-9fce-ea82a0c76db5",
      "label": "{umbValue: logoCompanyName}"
    }
  ]
}]]></Config>
</DataType>