<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af33f33a-b905-4824-bbf2-90b91211eb6a" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "df03d18d-d940-4c15-9dda-81d26caaa12f",
      "settingsElementTypeKey": "33879981-a061-4799-850d-a77cb245382c"
    },
    {
      "contentElementTypeKey": "c686d86c-3256-486c-8c0d-c776e7160e53",
      "settingsElementTypeKey": "30393699-d561-4a0c-9937-9559bc9bb5fc"
    },
    {
      "contentElementTypeKey": "57d632c7-da33-4d61-8548-d72b1583c0a4"
    },
    {
      "contentElementTypeKey": "daecbbf2-0ce2-44af-9296-628f953bad3c",
      "settingsElementTypeKey": "b7bbd146-ce12-4577-8269-8ff01a39393e"
    },
    {
      "contentElementTypeKey": "09db73d0-4397-4a5e-b221-c8764f5056e4"
    },
    {
      "contentElementTypeKey": "cae8124c-0cca-470c-9d06-342aafd618e4",
      "settingsElementTypeKey": "27fdfa56-ef01-4612-8d5d-f89fa3a92821"
    },
    {
      "contentElementTypeKey": "609e3d93-5f4e-4382-ad0e-676d7cbe6a63",
      "settingsElementTypeKey": "f1404c71-4cc6-4b33-9d09-ef2d5008ebd1"
    },
    {
      "contentElementTypeKey": "0e7f75da-9a28-46fe-af2d-895db5114672"
    },
    {
      "contentElementTypeKey": "9bed4044-9731-4d8b-9969-3e0f0924127c"
    },
    {
      "contentElementTypeKey": "5c416f28-149c-4243-b2ce-8ab4961c386f"
    }
  ]
}]]></Config>
</DataType>