<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59c570cb-e4c1-4379-bb0b-1641132a8d0f" Alias="Review Grade - Radio Button List" Level="1">
  <Info>
    <Name>Review Grade - Radio Button List</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5"
  ]
}]]></Config>
</DataType>