<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15c340d7-db89-46cc-8bba-b5f7458bfac6" Alias="Service Detail Asides" Level="1">
  <Info>
    <Name>Service Detail Asides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b73ea4a4-c37c-4761-9133-d68a65b9b845"
    }
  ]
}]]></Config>
</DataType>