<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f6591d8-1f91-4d05-8d47-48044c77e9eb" Alias="Site Settings - Social Media List" Level="1">
  <Info>
    <Name>Site Settings - Social Media List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00f3180f-f430-4f26-9542-39860e0b5da2",
      "label": "{umbValue: socialMediaPlatform}"
    }
  ]
}]]></Config>
</DataType>