<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5cdf6aea-8b13-4e4e-87fa-99681c88b2ec" Alias="Success Story Section - Success Story Example " Level="1">
  <Info>
    <Name>Success Story Section - Success Story Example </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "baca0e6c-4672-4b2a-b03f-936cc5a2b2e6",
      "label": "{umbValue: successNumber}"
    }
  ],
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>