<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48aec202-37a3-4dff-bc41-8b0b5716c522" Alias="Textstring (1)" Level="1">
  <Info>
    <Name>Textstring (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>