@import "tailwindcss";
@import "./swiper.css";

@theme {
    --color-primary: #4F5955;
    --color-secondary: #F2EDDC;
    --color-tertiary: #D9C3A9;
    --color-text: #535656;
    --color-note: #9C9EA6;
    --color-bg-grey: #F7F7F7;
    --color-footer: #0E0E0E;
    --color-white: #FFFFFF;
    --color-border: #EAEAEA;
    --color-light-grey: #ECECEC; 
    --color-error: #d30000;
    --color-success: #0caa00;

    --font-poppins: "Poppins", sans-serif;
}

body {
    @apply text-text text-sm font-poppins;
}

.hero-title {
    @apply text-center md:text-left text-[2.5rem] lg:text-[4.2rem] leading-15 md:leading-10 lg:leading-20 font-bold text-text;
}

h1 {
    @apply text-5xl font-bold text-primary text-balance;
}

h2 {
    @apply text-[2.5rem] font-bold text-primary text-balance leading-normal;
}

h3 {
    @apply text-3xl font-bold text-primary text-balance;
}

h4 {
    @apply text-2xl font-bold text-primary text-balance;
}

h5 {
    @apply text-xl font-bold text-primary text-balance;
}

h6 {
    @apply text-lg font-bold text-primary text-balance;
}

.success-number {
    @apply text-[6.25rem] font-semibold z-25;
    color: #D9C3A9 !important;
}

p {
    @apply text-base; 
}

.content {
    @apply sm:w-full md:max-w-2xl lg:max-w-7xl mx-auto px-4;
}

.label {
    @apply text-sm font-bold text-tertiary uppercase;
}

.social-media-icon {
    @apply flex items-center justify-center p-5 text-white border-l border-note last:border-r;
}

.current a {
    @apply text-secondary;
}

.rte img {
    @apply object-cover w-full; 
}

.rte-ul {
    @apply pl-6; 
}

.rte-ul li {
    @apply list-disc list-outside py-2;
}

.rte-ul li::marker {
    @apply text-tertiary; 
}

.text-rte-h2 {
    @apply text-[2.5rem] leading-relaxed pb-2 pt-4;
}

.text-rte-l {
    @apply text-[1.25rem] leading-relaxed pb-2 text-pretty;
}

.text-rte-m {
    @apply text-[1rem] leading-relaxed pb-2 text-pretty;
}

.text-rte-s {
    @apply text-[0,875rem] leading-relaxed pb-2 text-pretty;
}

.form-input {
    @apply text-sm italic text-text w-full p-4 border border-border focus:ring-primary focus:outline-none;
}

.form-btn {
    @apply w-full flex text-center justify-center py-3 px-12 text-base cursor-pointer hover:bg-tertiary font-bold;
}

.field-validation-error {
    @apply text-error; 
}

.input-validation-error {
    @apply border-error focus:ring-1 focus:ring-error;
}
