@import "tailwindcss";

@theme {
    --color-primary: #4F5955;
    --color-secondary: #F2EDDC;
    --color-tertiary: #D9C3A9;
    --color-text: #535656;
    --color-note: #9C9EA6;
    --color-bg-grey: #F7F7F7;
    --color-footer: #0E0E0E;
    --color-white: #FFFFFF;
    --color-border: #EAEAEA;
    --font-poppins: "Poppins", sans-serif;
}

body {
    @apply text-text text-sm font-poppins;
}

.hero-title {
    @apply text-7xl leading-20 font-bold text-text;
}

h1 {
    @apply text-5xl font-bold text-primary;
}

h2 {
    @apply text-4xl font-bold text-primary;
}

h3 {
    @apply text-3xl font-bold text-primary;
}

h4 {
   @apply text-2xl font-bold text-primary;
}

h5 {
    @apply text-xl font-bold text-primary;
}

h6 {
    @apply text-lg font-bold text-primary;
}

p {
    @apply text-base; 
}

.content {
    @apply max-w-7xl mx-auto px-4;
}

.label {
    @apply text-sm font-bold text-secondary uppercase;
}