.custom-pagination {
    @apply hidden md:flex md:justify-center md:items-center md:gap-4 md:py-2 md:mt-6 md:px-6;
}

.custom-prev,
.custom-next {
    @apply flex text-lg font-semibold text-primary;
    cursor: pointer !important;
    
}

.swiper-pagination {
    @apply flex justify-center items-center gap-2 !relative !bottom-0;
}

.swiper-button-disabled {
    @apply text-border cursor-default;
}

.swiper-pagination-bullet {
    @apply !flex text-lg !text-primary font-semibold flex p-6 !bg-white rounded-full cursor-pointer;
}

.swiper-pagination-bullet:hover {
    @apply outline-1 outline-light-grey text-primary;
}

.swiper-pagination-bullet-active {
    @apply !bg-white outline-1 outline-light-grey text-primary;
}

.swiper-pagination-bullet span {
    @apply !justify-self-center !self-center;
}



